#!/bin/bash
cat << EOF | sudo tee /etc/hosts
127.0.0.1 localhost
{{dns_ip}} {{ hostname }}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
EOF

cat << EOF | sudo tee /etc/hostname
{{ hostname }}
EOF

sudo hostname {{ hostname }}

cat << EOF | tee ~/.ssh/authorized_keys
{{ ssh_key_pub }}
EOF

cat << EOF | tee ~/.ssh/id_rsa
{{ ssh_key_priv }}
EOF

sudo cp ~/.ssh/id_rsa /root/.ssh/id_rsa
sudo cp ~/.ssh/authorized_keys /root/.ssh/authorized_keys

{% if net -%}
sudo rm /etc/netplan/*
cat << EOF | sudo tee /etc/netplan/01_net.yaml
network:
  ethernets:
    {% for intf in net -%}
    {{ intf }}:
      {% if net[intf].addresses -%}
      addresses : {{ net[intf].addresses}}
      {% else -%}
      dhcp4: false
      {% endif -%}
      {% if net[intf].mtu -%}
      mtu: {{ net[intf].mtu}}
      {% endif -%}
      {% if net[intf].dns -%}
      nameservers:
         addresses: {{ net[intf].dns }}
      {% endif -%}
      {% if net[intf].static -%}
      routes: 
       {% for s in net[intf].static -%}
       - to: {{ s.to }}
         via: {{ s.via }}
         metric: 1
       {% endfor %}
      {% endif %} 
    {% endfor %}  
EOF
{% endif %}

sleep 2

uuidgen  | sed -e 's/-//g' |  sudo tee /etc/machine-id

sleep 2

cat << EOF | tee ~/.ssh/config
Host *
   StrictHostKeyChecking no
EOF
chmod og-rwx ~/.ssh/*

sleep 2 

sudo systemctl stop sshd
sudo rm /etc/ssh/ssh_host*
sudo ssh-keygen -q -f /etc/ssh/ssh_host_key -N '' -t rsa1
sudo ssh-keygen -f /etc/ssh/ssh_host_rsa_key -N '' -t rsa
sudo ssh-keygen -f /etc/ssh/ssh_host_dsa_key -N '' -t dsa
sudo ssh-keygen -f /etc/ssh/ssh_host_ecdsa_key -N '' -t ecdsa -b 521
sudo systemctl restart sshd

sudo reboot
