interfaces {
    {{ intf }} {
        flexible-vlan-tagging;
        encapsulation flexible-ethernet-services;
        unit {{ unit }} {
            vlan-id {{ unit }};
            family inet {
                address {{ inet }};
            }
            family inet6 {
                address {{ inet6 }};
            }
        }
    }
}
{% for intf in intfs -%}
interfaces {
    {{  intf }}.0 {
       family inet6;
    }
}
{% endfor -%}


protocols {
    bgp {
        group to_ce {
            type external;
            peer-as {{ asn }};
            neighbor {{ ce_ip }};
            neighbor {{ ce_ipv6 }};
        }
    }
    mpls {
        ipv6-tunneling;
        explicit-null;
    }
}