configure
set groups junos_bootstrap system name-server 10.49.32.95
set groups junos_bootstrap system name-server 10.49.32.97
set groups junos_bootstrap system ntp server ntp.juniper.net
set groups junos_bootstrap protocols lldp interface all
set groups junos_bootstrap protocols lldp interface fxp0 disable
set groups junos_bootstrap protocols isis interface <*> point-to-point
set groups junos_bootstrap protocols isis interface <*> delay-measurement
set groups junos_bootstrap protocols isis traffic-engineering l3-unicast-topology
set groups junos_bootstrap protocols isis traffic-engineering advertisement always
set groups junos_bootstrap services rpm twamp server authentication-mode none
set groups junos_bootstrap services rpm twamp server light
set apply-groups junos_bootstrap
commit
